@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-primary {
    background-color: rgb(29 78 216/0.8);
  }
  .bg-primary:hover {
    background-color: rgb(37 99 235);
  }
  .form label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }
  .form input,
  textarea {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
  }
  .bg-stripes-white {
    background-image: linear-gradient(135deg,#ffffffbf 10%,#0000 0,#0000 50%,#ffffffbf 0,#ffffffbf 60%,#0000 0,#0000);
    background-size: 7.07px 7.07px;
}
}
